.boton-redireccion {
    display: inline-block; /* Hace que el enlace se comporte como un botón */
    padding: 10px 20px; /* Espacio interno (relleno) */
    background-color: hsla(44, 100%, 50%, 0.76); /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
}

.boton-redireccion {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.boton-redireccion:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Aumenta la sombra para dar efecto de elevación */
}


.boton-redireccion {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: box-shadow 0.4s ease-in-out;
}

.boton-redireccion:hover {
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.8); /* Brillo azul alrededor */
}